.wrapper {
	display: grid;
	grid-template-columns: minmax(400px, 600px) 1fr;
	gap: 70px;
	align-items: center;

	@media (max-width: 1150px) {
		grid-template-columns: minmax(100px, 400px) auto;
		align-items: center;
		justify-content: center;
	}
}

.image {
	max-width: 600px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.text {
	display: flex;
	flex-direction: column;
	font-weight: var(--fw-bold);
	font-size: var(--fs-md);

	h1 {
		margin-bottom: 15px;
		font-weight: var(--fw-bold);
		font-size: 24px;
	}
}

.infoBlock {
	display: flex;
	gap: 40px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;

	span {
		font-weight: var(--fw-light);
	}
}
